%table
  %tr
    %th location
    %th switch
    %th interface
    %th port_description
    %th mode
    %th port_type
    %th tagged
    %th acceptable_frame_type
    %th permission
    %th vlan
    %th switchport mac address
    %th machine interface
    %th machine member
    %th machine slaves
    %th machine active_interface
    %th machine active in bond
    %th machine hostname
  - SecondView.all.each do |row|
    %tr
      %td= row.location
      %td= row.switch 
      %td= "#{row.stack_member}/#{row.speed}#{row.port}"
      %td= row.port_description
      %td= row.mode
      %td= row.port_type
      %td= row.tagged
      %td= row.acceptable_frame_type
      %td= row.permission
      %td= row.vlan
      %td= row.mac
      %td= row.interface
      %td= row.member
      %td= row.slaves
      %td= row.active_interface
      %td= row.active_in_bond
      %td= row.machine_hostname
